# this is an example of the SMC API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Gamification
  description: API REST
  version: "1.0.0"
# the domain of the service
host: amt.hostname
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /badges:
    get:
      summary: Get a badge
      description: |
        The badge endpoint returns informations about the *Badge*. 
      parameters:
        - name: id
          in: query
          description: ID of the badge.
          required: true
          type: number
          format: int
      tags:
        - Badges
      responses:
        200:
          description: A Badge
          schema:
             $ref: '#/definitions/Badge'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Add a Badge
      description: |
        The Badge endpoint to add a new Badge.
      parameters:
        - name: name
          in: query
          description: Name of the badge
          required: true
          type: string
          format: string
        - name: image
          in: query
          description: Path to the image
          required: true
          type: string
          format: string
      tags:
        - Badges
      responses:
        201:
          description: Badge has been successfully created
          schema:
            $ref: '#/definitions/Badge'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update a Badge
      description: |
        The Badge endpoint to update a Badge.
      parameters:
        - name: id
          in: query
          description: ID of the badge
          required: true
          type: number
          format: int
        
        - name: name
          in: query
          description: Name of the badge
          required: false
          type: string
          format: string
          
        - name: image
          in: query
          description: Path to the image
          required: false
          type: string
          format: string
      tags:
        - Badges
      responses:
        204:
          description: The badge has been updated
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a Badge
      description: |
        The Badge endpoint to delete a Badge.
      parameters:
        - name: id
          in: query
          description: ID of the badge
          required: true
          type: number
          format: int
      tags:
        - Badges
      responses:
        204:
          description: The badge has been deleted
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /scalepoints:
    get:
      summary: Get a scale point
      description: |
        The scalepoints endpoint returns information about the *scale point*. 
      parameters:
        - name: id
          in: query
          description: id of the scale point
          required: true
          type: number
          format: int
      tags:
        - Scale points
      responses:
        200:
          description: A scale point
          schema:
             $ref: '#/definitions/ScalePoint'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: post a new Scale Point
      description: |
        The Level endpoint to post a new Level.
      parameters:
        - name: name
          in: query
          description: name of level.
          required: true
          type: string
          format: string
        - name: minPoints
          in: query
          description: minimum points to win this level
          required: true
          type: string
          format: string
      tags:
        - Scale points
      responses:
        201:
          description: The new level
          schema:
            $ref: '#/definitions/ScalePoint'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: update a Scale Point
      description: |
        The Level endpoint to update a new Level.
      parameters:
        - name: id
          in: query
          description: id of level.
          required: true
          type: number
        - name: name
          in: query
          description: name of level.
          required: false
          type: string
          format: string
        - name: minPoints
          in: query
          description: minimum points to win level.
          required: false
          type: string
          format: string
      tags:
        - Scale points
      responses:
        204:
          description: The Level updated
          schema:
            $ref: '#/definitions/ScalePoint'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    
definitions:
  Badge:
    type: object
    properties:
      badge_id:
        type: number
        description: Unique identifier representing a specific badge
      name:
        type: string
        description: name of badge
      image:
        type: string
        description: path of the image
  ScalePoint:
    type: object
    properties:
      id:
        type: number
        description: Unique identifier representing a specific scale point
      name:
        type: string
        description: name of scale point
      nbPoints:
        type: number
        description: number of points of this scale
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
